{%extends 'layout/app.html'%}
{% load static %}

{%block body%}
<!-- Content Wrapper. Contains page content -->
<div class="container">
  <div class="d-flex flex-column">
    <div class="text-center">
      <h1 class="strong">Mood Episode Questionaire</h1>
      <p>Klasifikasi Gangguan Mood Unipolar dan Bipolar Tahap I</p>
    </div>
    <div class="card">
      <div class="card-header">
        # Kuisioner Suasana Hati
      </div>
      <div class="card-body">
        <p class="mb-3">Pilihlah jawaban yang paling sesuai dengan keadaan diri Anda.</p>
        <form class="form-horizontal" role="form" method="POST">
          {% csrf_token %}
          <!--Form question here-->
          {%for question in questions%}
            <p class="mt-3 text-muted"><strong>{{question.question_number}}. {{question.prompt}}</strong></p>
            {%for response_option in response_options%}
              {%if response_option.question == question%}
                <div class="form-check ml-5">
                  <label class="text-muted">
                    <input class="form-check-input" type="radio" name="flexRadioDefault{{question.question_number}}" id="flexRadioDefault{{question.question_number}}" value={{response_option.score}} required>
                    {{response_option.text}}
                  </label>
                </div>
              {%endif%}
            {%endfor%}
          {%endfor%}
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-flat">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock%}

{% block javascript %}
{% endblock %}