{%extends 'layout/app_home.html'%}
{% load static %}

{%block body%}
<!-- Content Wrapper. Contains page content -->
<div class="container">
  <div class="d-flex flex-column">
    <div class="mt-3">
      <div class="d-flex justify-content-around">
        <div>
          <h1 class="strong" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Moodis APP</h1>
          <h5 class="strong">Mood Disorder Application</h5>
          <div class="card">
            <div class="card-body login-card-body">
              <div>
                <p>Silakan ke klik tombol "Check Now" jika anda ingin memulai pengecekan awal episode
                  mood anda.</p>
                <a href="/check?patient_id={{patient.id}}" class="btn btn-primary btn-flat">Check Now!</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body login-card-body">
              <div>
                <p>Untuk melihat hasil pengecekan tiap episode.</p>
                <a href="/patient_detail?patient_id={{patient.id}}" class="btn btn-primary btn-flat">View Report</a>
              </div>
            </div>
          </div>
          
        </div>
        <div class="mt-5 ml-5">
          <img src="{% static 'dist/img/woman-visiting.jpg' %}" alt="Images">
        </div>
      </div>
    </div>
  </div>
  <!-- Landing Modal-->
  <div class="modal fade" id="landingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title" id="exampleModalLabel">Selamat Datang, {{user.profile.full_name}}</p>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <img class="card-img-top" src="{% static 'dist/img/woman-visiting.jpg' %}" alt="Card image cap">
        <div class="modal-body">Pilih "Check Now!" untuk memulai pengecekan awal episode mood anda. Pilih "Decide Later"
          untuk menunda pengecekan.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-flat" type="button" data-dismiss="modal">Decide Later</button>
          <a class="btn btn-primary btn-flat" href="#">Check Now!</a>
        </div>
      </div>
    </div>
  </div>
  {%endblock%}

  {% block javascript %}
  {%if False%}
  <script>
    $(document).ready(function () {
      $("#landingModal").modal('show');
    });
  </script>
  {%endif%}
  {% endblock %}